<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MusicPlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC74CD4F1F91067800A3D14A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC74CD631F91067900A3D14A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC74CD6E1F91067900A3D14A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
